openMIIR/eeg/P01-raw.fif
openMIIR/eeg/P07-raw.fif
openMIIR/eeg/P11-raw.fif
openMIIR/eeg/P14-raw.fif
gameEMO/eeg/G1-Tranquility/S01G1AllChannels.mat
gameEMO/eeg/G1-Tranquility/S02G1AllChannels.mat
gameEMO/eeg/G1-Tranquility/S10G1AllChannels.mat
gameEMO/eeg/G1-Tranquility/S11G1AllChannels.mat
gameEMO/eeg/G1-Tranquility/S12G1AllChannels.mat
gameEMO/eeg/G1-Tranquility/S20G1AllChannels.mat
gameEMO/eeg/G1-Tranquility/S21G1AllChannels.mat
gameEMO/eeg/G1-Tranquility/S22G1AllChannels.mat
gameEMO/eeg/G2-Horror/S01G3AllChannels.mat
gameEMO/eeg/G2-Horror/S02G3AllChannels.mat
gameEMO/eeg/G2-Horror/S10G3AllChannels.mat
gameEMO/eeg/G2-Horror/S11G3AllChannels.mat
gameEMO/eeg/G2-Horror/S12G3AllChannels.mat
gameEMO/eeg/G2-Horror/S20G3AllChannels.mat
gameEMO/eeg/G2-Horror/S21G3AllChannels.mat
gameEMO/eeg/G2-Horror/S22G3AllChannels.mat
gameEMO/eeg/G3-Fun/S01G4AllChannels.mat
gameEMO/eeg/G3-Fun/S02G4AllChannels.mat
gameEMO/eeg/G3-Fun/S10G4AllChannels.mat
gameEMO/eeg/G3-Fun/S11G4AllChannels.mat
gameEMO/eeg/G3-Fun/S12G4AllChannels.mat
gameEMO/eeg/G3-Fun/S20G4AllChannels.mat
gameEMO/eeg/G3-Fun/S21G4AllChannels.mat
gameEMO/eeg/G3-Fun/S22G4AllChannels.mat
gameEMO/eeg/Resting/S01G2AllChannels.mat
gameEMO/eeg/Resting/S02G2AllChannels.mat
gameEMO/eeg/Resting/S10G2AllChannels.mat
gameEMO/eeg/Resting/S11G2AllChannels.mat
gameEMO/eeg/Resting/S12G2AllChannels.mat
gameEMO/eeg/Resting/S20G2AllChannels.mat
gameEMO/eeg/Resting/S21G2AllChannels.mat
gameEMO/eeg/Resting/S22G2AllChannels.mat
openMIIR/eeg/P14-100p_64c-ica.fif
openMIIR/eeg/P11-100p_64c-ica.fif
openMIIR/eeg/P07-100p_64c-ica.fif
openMIIR/eeg/P01-100p_64c-ica.fif
